Java-SoapUITest/Test.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.altoromutual.com/bank/ws/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.altoromutual.com/bank/ws/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Core services offered by Altoro Mutual bank.</wsdl:documentation>
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.altoromutual.com/bank/ws/">
<s:element name="IsValidUser">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="IsValidUserResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="IsValidUserResult" type="s:boolean"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetUserAccounts">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetUserAccountsResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetUserAccountsResult" type="tns:ArrayOfAccountData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ArrayOfAccountData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="AccountData" type="tns:AccountData"/>
</s:sequence>
</s:complexType>
<s:complexType name="AccountData">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="TransferBalance">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="transDetails" type="tns:MoneyTransfer"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="MoneyTransfer">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="transferDate" type="s:dateTime"/>
<s:element minOccurs="0" maxOccurs="1" name="debitAccount" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="creditAccount" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="transferAmount" type="s:double"/>
</s:sequence>
</s:complexType>
<s:element name="TransferBalanceResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="TransferBalanceResult" type="tns:Transaction"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="Transaction">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
</s:sequence>
</s:complexType>
</s:schema>
</wsdl:types>
<wsdl:message name="IsValidUserSoapIn">
<wsdl:part name="parameters" element="tns:IsValidUser"/>
</wsdl:message>
<wsdl:message name="IsValidUserSoapOut">
<wsdl:part name="parameters" element="tns:IsValidUserResponse"/>
</wsdl:message>
<wsdl:message name="GetUserAccountsSoapIn">
<wsdl:part name="parameters" element="tns:GetUserAccounts"/>
</wsdl:message>
<wsdl:message name="GetUserAccountsSoapOut">
<wsdl:part name="parameters" element="tns:GetUserAccountsResponse"/>
</wsdl:message>
<wsdl:message name="TransferBalanceSoapIn">
<wsdl:part name="parameters" element="tns:TransferBalance"/>
</wsdl:message>
<wsdl:message name="TransferBalanceSoapOut">
<wsdl:part name="parameters" element="tns:TransferBalanceResponse"/>
</wsdl:message>
<wsdl:portType name="ServicesSoap">
<wsdl:operation name="IsValidUser">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Determine if a UserId is valid and exists.</wsdl:documentation>
<wsdl:input message="tns:IsValidUserSoapIn"/>
<wsdl:output message="tns:IsValidUserSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetUserAccounts">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve accounts by UserId.</wsdl:documentation>
<wsdl:input message="tns:GetUserAccountsSoapIn"/>
<wsdl:output message="tns:GetUserAccountsSoapOut"/>
</wsdl:operation>
<wsdl:operation name="TransferBalance">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Transfer funds from one account to another.</wsdl:documentation>
<wsdl:input message="tns:TransferBalanceSoapIn"/>
<wsdl:output message="tns:TransferBalanceSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IsValidUser">
<soap:operation soapAction="http://www.altoromutual.com/bank/ws/IsValidUser" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetUserAccounts">
<soap:operation soapAction="http://www.altoromutual.com/bank/ws/GetUserAccounts" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="TransferBalance">
<soap:operation soapAction="http://www.altoromutual.com/bank/ws/TransferBalance" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ServicesSoap12" type="tns:ServicesSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IsValidUser">
<soap12:operation soapAction="http://www.altoromutual.com/bank/ws/IsValidUser" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetUserAccounts">
<soap12:operation soapAction="http://www.altoromutual.com/bank/ws/GetUserAccounts" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="TransferBalance">
<soap12:operation soapAction="http://www.altoromutual.com/bank/ws/TransferBalance" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Services">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Core services offered by Altoro Mutual bank.</wsdl:documentation>
<wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
<soap:address location="http://www.testfire.net/bank/ws.asmx"/>
</wsdl:port>
<wsdl:port name="ServicesSoap12" binding="tns:ServicesSoap12">
<soap12:address location="http://www.testfire.net/bank/ws.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>